@{
    Layout = null;
}

<form>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Venda Registrada</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Venda registrada com sucesso!</label>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</form>

